/**************************
/* Stylesheet for Apple CMS
/* Created 30/11/2023
**************************/

/**** Global ****/

@font-face {
  font-family: "PingFang-SC";
  src: url("../../assets/font/PingFang-Medium.ttf");
}

/********* Responsive design <768 *********/
a {
  text-decoration: none !important;
  outline: none !important;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  color: #05031a;
  line-height: 47px;
}

h3 {
  font-size: 27px;
  font-weight: bold;
  color: #323643;
  line-height: 28px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  color: #323643;
  line-height: 30px;
  margin: 20px 0 20px 0;
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h4 green,
p green {
  color: #40cc92;
}

p r {
  color: #d85252;
}

html,
body {
  font-family: "PingFang-SC";
  font-size: 16px;
  font-weight: 500;
  color: #4d5366;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-image: url("../../assets/images/bg-sm.png");
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 0 !important;
}

.container {
  max-width: 768px;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid {
  max-width: 768px;
}

.logo-text {
  font-weight: 700;
  font-size: 24px;
  color: #05031a;
  margin: 10px 0 0 10px;
}

section {
  max-width: 100%;
}

.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 18px !important;
  width: 40px;
  height: 40px;
  padding: 2px 24px;
  transition: all 0.5s;
}

.search-click:focus {
  width: 250px;
  padding-left: 30px;
}

.search-click:focus .menu-s {
  background-color: #05031a;
}

.search-click {
  position: relative;
  overflow: hidden;
  height: 40px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 250px;
  height: 36px;
  left: 0%;
  padding: 10px;
}

.search-icon {
  position: absolute;
  background-image: url("../../assets/images/pirate_ic_search.svg");
  width: 16px;
  height: 16px;
  left: 12px;
  top: 12px;
}

.search-click-h5 {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 18px !important;
  width: 100%;
  height: 40px;
  padding: 2px 30px;
}

.search-click-h5 input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 100%;
  height: 36px;
  left: 0%;
  padding: 10px;
}

.search-md {
  display: none;
}

.search-h5 {
  display: block;
}

.offcanvas {
  min-width: 100%;
  background-image: url("../../assets/images/bg-sm.png");
  background-position: top right;
  padding: 0rem 1.25rem;
}

.offcanvas-collapse {
  position: fixed;
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
}

.offcanvas-header {
  padding-top: 7px;
  padding-left: 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
  color: #05031a;
}

.nav-item {
  text-align: center;
  font-size: 21px;
  color: #05031a;
  font-weight: 400;
  padding: 10px 20px;
}

.navbar-nav > .active > a {
  color: #40cc92;
}
.nav-item > a:hover {
  color: #40cc92;
}

.navbar-toggler {
  padding: 0px;
  border: 0px;
}

.menu-splitter {
  color: #d9e6e7;
  display: none;
}

.menu .offcanvas-body .nav-link {
  background: none;
  color: #4d5366 !important;
  text-align: left;
  font-size: 21px;
  font-weight: 500;
  padding: 10px 0 10px 0;
}

.menu .offcanvas-body .nav-link.active {
  color: #40cc92 !important;
  font-weight: bold;
}

.menu .offcanvas-body .nav-link-disabled {
  background: none;
  color: #05031a !important;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 0 14px 0;
}

.nav-item .dropdown-item {
  line-height: 20px;
  color: #4d5366;
}

.nav-item .dropdown-item.disabled {
  color: #05031a !important;
  font-weight: bold;
  margin-top: 10px;
}

.nav-item .dropdown-item:hover {
  color: #40cc92;
}

.dropdown-toggle {
  border: 0;
  color: #4d5366;
}

header {
  margin-top: 150px;
}

.text-cms {
  color: #40cc92;
}

.header1 {
  font-weight: bold;
  color: #05031a;
}

.header2 {
  padding-top: 1.7rem;
  font-size: 2.125rem;
  word-break: break-all;
}

.header3 {
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  word-break: break-all;
}

/** Footer **/
.footer-download {
  padding-top: 40px;
}

.footer-download-link {
  color: #05031a !important;
  font-size: 1.08rem;
  word-break: normal;
}

.footer-download-splitter {
  background-color: rgba(217, 230, 231, 1);
  width: 2px;
  height: 16px;
  margin: 0 25px;
}

.footer-support-text {
  color: #4d5366;
  font-size: 18px;
}

.footer-license {
  color: #4d5366;
  text-align: center;
  padding-top: 1rem;
}

.footer-statement {
  padding-top: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}

select {
  font-family: "PingFang-SC";
  font-size: 18px;
}

select option {
  font-family: "PingFang-SC";
  font-size: 18px;
  font-weight: 500;
}

.logo {
  display: block !important;
}
.logo-md {
  display: none !important;
}
.sidebar {
  display: none;
}
.sidebar-splitter {
  display: none;
}

.d-sidebar-menu > a {
  color: #4d5366;
}

.d-sidebar-menu > a.active {
  color: #40cc92;
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  /* font size: h3 */
  margin-top: 30px;
}

.tab-paragraph {
  margin-top: 20px;
  line-height: 34px;
}

.tab-paragraph > a {
  color: #4d5366 !important;
}
.tab-paragraph > a:hover,
.tab-paragraph > a:active {
  color: #40cc92 !important;
}

.p-list {
  margin-top: 20px;
  font-size: 20px;
  line-height: 34px;
  list-style: "- " !important;
  list-style-position: outside;
  padding-left: 20px;
}

.p-list > li > a {
  color: #4d5366 !important;
}

.p-list > li > a:hover,
.p-list > li > a:active {
  color: #40cc92 !important;
}

.accordion {
  padding: 0;
}

.accordion-button {
  padding: 15px 0;
  background-color: #ffffff;
  color: #05031A;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.accordion-button:focus {
  box-shadow: none;
  color: #05031A;
  background-color: #ffffff;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
}

.sub-contents-green {
  padding: 0;
  line-height: 45px;
  list-style-type: none !important;
}

.sub-contents-green > li > a {
  color: #40cc92;
  font-size: 22px;
}

.bd-info {
  background-color: #f2f9ff;
  color: #51a4f3;
  margin-top: 30px;
  padding: 16px 14px 8px 14px;
}

.bd-danger {
  background-color: #fcf2f2;
  color: #d85252;
  margin-top: 30px;
  padding: 14px;
  padding: 16px 14px 8px 14px;
}

.bd-info .title,
.bd-danger .title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}

.bd-info .description,
.bd-danger .description {
  font-size: 20px;
  line-height: 33px;
  list-style: circle;
  padding-left: 20px;
}

.prev-next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.prev-next > a {
  color: #40cc92 !important;
  text-decoration: none !important;
  font-size: 22px;
}

.prev-next .arrow-right,
.prev-next .arrow-left {
  width: 24px;
  height: 24px;
}

/*MaccmsV10.x*/
.link-pannel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 32px;
}

.link-pannel > a {
  color: #40cc92;
  font-size: 22px;
  line-height: 22px;
}

.git-informs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 32px;
}

.git-informs .issues {
  position: relative;
  width: 170px;
  height: 32px;
  padding-right: 14px;
  background: #f2f2f2;
  border-radius: 16px;
  text-align: right;
}

.git-informs .issues .title {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 32px;
  padding: 0 14px;
  text-align: center;
  color: #ffffff;
  background-color: #7286ef;
  border-radius: 16px;
}

.git-informs .forks {
  position: relative;
  width: 127px;
  height: 32px;
  padding-right: 14px;
  background: #f2f2f2;
  border-radius: 16px;
  text-align: right;
}

.git-informs .forks .title {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 32px;
  padding: 0 13px;
  text-align: center;
  color: #ffffff;
  background-color: #40cc92;
  border-radius: 16px;
}

.git-informs .stars {
  position: relative;
  width: 128px;
  height: 32px;
  padding-right: 14px;
  background: #f2f2f2;
  border-radius: 16px;
  text-align: right;
}

.git-informs .stars .title {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 32px;
  padding: 0 14px;
  text-align: center;
  color: #ffffff;
  background-color: #51a4f3;
  border-radius: 16px;
}

.git-informs .php-v {
  position: relative;
  width: 145px;
  height: 32px;
  padding-right: 14px;
  background: #f2f2f2;
  border-radius: 16px;
  text-align: right;
}

.git-informs .php-v .title {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 32px;
  padding: 0 14px;
  text-align: center;
  color: #ffffff;
  background-color: #f3c115;
  border-radius: 16px;
}

.git-informs .mysql-v {
  position: relative;
  width: 176px;
  height: 32px;
  padding-right: 14px;
  background: #f2f2f2;
  border-radius: 16px;
  text-align: right;
}

.git-informs .mysql-v .title {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 32px;
  padding: 0 14px;
  text-align: center;
  color: #ffffff;
  background-color: #7286ef;
  border-radius: 16px;
}

.code-green {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.code-green .code-line {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 30px;
}
.code-line .number {
  display: grid;
  min-width: 24px;
  text-align: start;
  align-items: center;
  border-right: 1px solid #d9e6e7;
}

.code-line .code {
  margin-left: 20px;
  color: #40cc92;
  background-color: #ebf9f4;
  padding: 0 10px;
  word-break: break-all;
}

.dcode {
  width: 100%;
  border: 1px solid #e2e2e2;
  flex-grow: 0;
}
.dcode-header {
  width: 100%;
  height: 38px;
  line-height: 38px;
  background: #f2f2f2;
  border-bottom: 1px solid #e2e2e2;
  padding-left: 17px;
}
.dcode-body {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.dcode-num {
  width: 60px;
  height: 100%;
  background: #f2f2f2;
  border-right: 1px solid #e2e2e2;
  text-align: center;
}
.dcode-num-list {
  display: block;
  list-style-type: none;
  padding: 6px 0 0 0;
  line-height: 26px;
}

.dcode-space {
  width: 100%;
  padding: 6px 0 0 20px;
  background-color: #ffffff;
  overflow-x: scroll;
}
.dcode-space-list {
  display: block;
  list-style-type: none;
  padding: 0;
  line-height: 26px;
  max-width: 100%;
  white-space: nowrap;
}
.dcode-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dcode-space-1 {
  min-width: 2px;
  max-width: 2px;
  height: 16px;
  background: #4d5366;
  margin-right: 4px;
  white-space: pre-wrap;
}
.dcode-space-2 {
  min-width: 24px;
  max-width: 24px;
  height: 16px;
  border-left: 2px solid #4d5366;
  border-right: 2px solid #4d5366;
  margin-right: 4px;
  white-space: pre-wrap;
}

/**Faq**/
#faq-desktop {
  display: none;
}

#faq-h5 {
  display: block;
}

/**** Responsive design >768 ****/
@media (min-width: 768px) {
  /** Global **/
  html,
  body {
    font-size: 14px;
    color: #4d5366;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    line-height: 22px;
  }

  body {
    background: none;
  }

  .container,
  .container-fluid {
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    color: #05031a;
    line-height: 42px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #05031a;
    line-height: 28px;
  }

  h4 {
    color: #05031a;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0 20px 0;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .search-md {
    display: block;
  }

  .search-h5 {
    display: none;
  }

  .navbar-expand-md .offcanvas {
    min-width: auto;
    background-image: none;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-item {
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    margin-top: 0px;
  }

  .menu-splitter {
    width: 1px;
    height: 12px;
    background: #d9e6e7;
    display: block;
  }

  header {
    margin-top: 150px;
  }

  .header1 {
    color: var(--bs-black);
  }

  .header2 {
    padding-top: 1.125rem;
    font-size: 24px;
    word-break: break-all;
  }

  .header3 {
    font-size: 14px;
    padding-top: 1rem;
    word-break: break-all;
  }

  /*Footer*/
  .footer-download {
    padding-top: 40px;
  }

  .footer-download-link {
    font-size: 14px;
  }

  .footer-download-splitter {
    background-color: rgba(217, 230, 231, 1);
    width: 0.054rem;
    height: 0.875rem;
    margin: 0 12px;
  }

  .footer-license {
    padding-top: 84px;
  }

  .footer-support-text {
    color: #4d5366;
    font-size: 14px;
  }

  .footer-statement {
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  .logo {
    display: none !important;
  }
  .logo-md {
    display: flex !important;
    flex-direction: row;
  }
  .menu {
    display: none;
  }

  .container-inner {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .sidebar {
    display: block;
    position: relative;
    min-width: 230px;
    max-width: 230px;
    height: 550px;
    overflow-x: hidden;
    border-right: 1px solid #d9e6e7;
  }

  .sidebar .nav-link {
    line-height: 20px;
    background: none;
    border-radius: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 10px 0 10px 0;
  }

  .sidebar .sub-link {
    color: #a6a8b1;
  }

  .sidebar .nav-link.active {
    background: none;
    color: #40cc92;
    font-weight: bold;
    border-right: 4px solid #40cc92;
  }

  .sidebar .ring {
    width: 8px;
    height: 8px;
    background: #ffffff;
    border: 1px solid #a6a8b1;
    border-radius: 4px;
  }

  .sidebar .nav-link.active .ring {
    border: 1px solid #40cc92;
  }

  .sidebar .nav-link-disabled {
    color: #05031a;
    font-size: 20px;
    font-weight: bold;
  }

  .sidebar .nav-link a {
    color: #4d5366 !important;
  }

  .sidebar .nav-link.active {
    background: none;
    color: #40cc92;
    font-weight: bold;
    border-right: 4px solid #40cc92;
  }

  .sidebar .nav-link.active a {
    color: #40cc92 !important;
  }

  .sidebar > .faq-menu {
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
  }

  .faq-menu.close {
    transform: translateX(-100%);
  }

  .faq-menu.open {
    transform: translateX(100%);
  }

  .faq-menu > .faq-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .faq-menu > .faq-list  {
    padding-left: 0;
  }

  .faq-menu > .faq-list > li {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 24px;
  }

  select {
    font-family: "PingFang-SC";
    font-size: 16px;
  }

  select option {
    font-family: "PingFang-SC";
    font-size: 16px;
    font-weight: 500;
  }

  .container-inner .main-content {
    padding-left: 80px;
    flex-grow: 1;
    overflow-x: clip;
  }

  .subtitle {
    /* font size: h3 */
    margin-top: 30px;
  }

  .tab-paragraph {
    margin-top: 16px;
    line-height: 24px;
  }

  .p-list {
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
  }

  .sub-contents-green {
    line-height: 32px;
  }

  .sub-contents-green > li > a {
    color: #40cc92;
    font-size: 16px;
  }

  .bd-info {
    padding: 12px 20px 5px 20px;
  }

  .bd-danger {
    padding: 12px 20px 5px 20px;
  }

  .bd-info .title,
  .bd-danger .title {
    font-size: 16px;
    line-height: 22px;
  }

  .bd-info .description,
  .bd-danger .description {
    font-size: 14px;
    line-height: 24px;
    list-style: circle;
    padding-left: 20px;
  }

  .prev-next {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 60px;
    margin-top: 50px;
  }

  .prev-next > a {
    color: #40cc92 !important;
    text-decoration: none !important;
    font-size: 16px;
  }

  .prev-next .arrow-right,
  .prev-next .arrow-left {
    width: 20px;
    height: 20px;
  }

  /*MaccmsV10.x*/
  .link-pannel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 24px;
  }

  .link-pannel > a {
    color: #40cc92;
    font-size: 16px;
  }

  .git-informs {
    gap: 16px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
  }

  .git-informs .issues {
    position: relative;
    width: 130px;
    height: 24px;
    padding-right: 10px;
    border-radius: 12px;
  }

  .git-informs .issues .title {
    width: auto;
    height: 24px;
    padding: 0 10px;
    border-radius: 12px;
  }

  .git-informs .forks {
    width: 96px;
    height: 24px;
    padding-right: 10px;
    border-radius: 12px;
  }

  .git-informs .forks .title {
    height: 24px;
    padding: 0 10px;
    border-radius: 12px;
  }

  .git-informs .stars {
    width: 96px;
    height: 24px;
    padding-right: 10px;
    border-radius: 12px;
  }

  .git-informs .stars .title {
    height: 24px;
    padding: 0 10px;
    border-radius: 12px;
  }

  .git-informs .php-v {
    position: relative;
    width: 120px;
    height: 24px;
    padding-right: 10px;
    border-radius: 12px;
  }

  .git-informs .php-v .title {
    width: 54px;
    height: 24px;
    padding: 0 10px;
    border-radius: 12px;
  }

  .git-informs .mysql-v {
    width: 125px;
    height: 24px;
    padding-right: 10px;
    border-radius: 12px;
  }

  .git-informs .mysql-v .title {
    height: 24px;
    padding: 0 8px;
    border-radius: 12px;
  }

  .code-green {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .code-green .code-line {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 22px;
  }
  .code-line .number {
    display: grid;
    min-width: 26px;
    text-align: start;
    align-items: center;
    border-right: 1px solid #d9e6e7;
  }

  .code-line .code {
    margin-left: 20px;
    color: #40cc92;
    background-color: #ebf9f4;
    padding: 2px 10px;
    word-break: break-all;
  }

  /**Faq**/
  #faq-desktop {
    display: block;
  }

  #faq-h5 {
    display: none;
  }
}
